.about {
  h2 {
    margin: 0 0 28px 0;
    font-family: $font-title;
    font-size: 36px;
    font-weight: 400;
    line-height: 38px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  p {
    margin: 0 0 25px 0;
    font-size: 16px;
    line-height: 21px;
    overflow: hidden;
    text-overflow: ellipsis;

    &:last-of-type {
      margin-bottom: 38px;
    }
  }
}

.about__wrapper {
  min-height: 315px;
  margin: 96px 9.5%;
  padding: 0 0 0 180px;
  background-image: url("../img/about-year@1x.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: auto 312px;
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .about__wrapper {
    background-image: url("../img/about-year@2x.png");
    background-size: auto 312px;
  }
}

.about__link {
  display: inline-block;
  max-width: 100%;
  padding: 15px 58px;
  font-family: $font-title;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  color: $color-btn;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px solid $color-btn;
  border-radius: 5px;
}

@media (max-width: $desktopWidth) {
  .about {
    h2 {
      margin: 0 0 28px 0;
      font-size: 32px;
      line-height: 34px;
    }

    p {
      max-height: 85px;
      font-size: 16px;
      line-height: 21px;
      overflow: hidden;
      text-overflow: ellipsis;

      &:last-of-type {
        margin-bottom: 40px;
      }
    }

    .about__link {
      padding: 15px 58px;
    }
  }

  .about__wrapper {
    margin: 0 3% 80px 3%;
    padding: 0 0 0 190px;
    background-size: auto 345px;
  }
}

@media (max-width: $tabletWidth) {
  .about {
    h2 {
      margin: 0 0 27px 0;
      font-size: 28px;
      line-height: 30px;
    }

    p {
      max-height: 170px;
      margin: 0 0 45px 0;

      &:last-of-type {
        margin-bottom: 33px;
      }
    }
  }

  .about__wrapper {
    min-height: auto;
    margin: 0 4% 60px 4%;
    padding: 0;
    background-image: none;
  }
}
