.container {
  max-width: 1446px;
  margin: 0 auto;
}

@media (max-width: $desktopWidth) {
  .container {
    min-width: $tabletWidth;
  }
}

@media (max-width: $tabletWidth) {
  .container {
    min-width: $mobileWidth;
    width: 100%;
  }
}
