.intro {
  position: relative;

  img {
    position: absolute;
    top: 140px;
    right: -60px;
  }
}

.intro__wrapper {
  padding: 0 1.2%;
}

.intro__product {
  position: relative;
  width: 65%;
  padding: 200px 0 274px 0;
  overflow: hidden;

  h3 {
    margin: 0 0 33px 0;
    padding: 0;
    font-family: $font-title;
    font-size: 80px;
    font-weight: 700;
    line-height: 82px;
    letter-spacing: 3px;
    color: $color-text-white;
    text-transform: uppercase;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  p {
    position: relative;
    width: 77%;
    margin: 0;
    padding: 0 0 40px 93px;
    font-size: 22px;
    line-height: 34px;
    color: $color-text-white;
    overflow: hidden;
    text-overflow: ellipsis;

    &::before {
      content: "";
      position: absolute;
      top: 1rem;
      left: 0;
      width: 66px;
      height: 2px;
      background-color: $color-text-white;
    }
  }
}

.intro__link {
  display: inline-block;
  vertical-align: middle;
  max-width: 85%;
  margin: 0 0 0 90px;
  padding: 20px 45px;
  font-family: $font-title;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 1px;
  color: $color-text-white;
  text-decoration: none;
  text-transform: uppercase;
  background-color: $color-btn;
  border-radius: 5px;
  outline: none;

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.8;
  }
}

.intro__link-text {
  &_tablet,
  &_mobile {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &_tablet {
    display: block;
  }

  &_mobile {
    display: none;
  }
}

.intro__scroll {
  position: absolute;
  bottom: 125px;
  left: 6px;
  max-width: 200px;
  font-size: 14px;
  line-height: 16px;
  color: $color-text-default;
  text-decoration: none;
  background-color: transparent;
  border: none;
  transform: translateX(-50%) rotate(-90deg);
  outline: none;
  overflow: hidden;
  text-overflow: ellipsis;

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.8;
  }
}

@media (max-width: $desktopWidth + 560) {
  .intro {
    overflow: hidden;

    img {
      right: -165px;
    }
  }
}

@media (max-width: $desktopWidth) {
  .intro {
    overflow: hidden;

    img {
      width: 61%;
      top: 20px;
      right: -210px;
    }
  }

  .intro__product {
    width: 62%;
    padding: 100px 0 162px 0;
    margin: 0 0 0 79px;

    h3 {
      font-size: 60px;
      line-height: 67px;
    }

    p {
      width: 90%;
      padding: 0 0 55px 50px;
      font-size: 18px;
      line-height: 26px;

      &::before {
        width: 33px;
      }
    }
  }

  .intro__link {
    margin: 0 0 0 50px;
    padding: 20px 30px;
  }

  .intro__scroll {
    display: none;
  }
}

@media (max-width: $tabletWidth) {
  .intro {
    overflow: hidden;

    img {
      width: 304px;
      top: 20px;
      right: -10px;
    }
  }

  .intro__product {
    width: 95%;
    padding: 217px 0 71px 0;
    margin: 0 0 0 13px;

    h3 {
      margin: 0 0 29px 0;
      font-size: 40px;
      line-height: 45px;
    }

    p {
      width: 95%;
      padding: 0 0 42px 50px;
      font-size: 16px;
      line-height: 24px;
    }
  }

  .intro__link {
    max-width: 100%;
    margin: 0;
    padding: 18px 32px;
  }

  .intro__link-text {
    &_tablet {
      display: none;
    }

    &_mobile {
      display: block;
    }
  }
}
