.main {
  flex: 1 0 auto;
  background-image: url("../img/bg-advantage-triangle-small.svg"), url("../img/bg-advantage-triangle-big-rgt.svg"), url("../img/bg-advantage-triangle-big-lft.svg");
  background-size: 17%, 50%, 50%;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: 96% 15%, 50% 5%, -50% 19%;
}

@media (max-width: $desktopWidth) {
  .main {
    background: none;
  }
}
