@font-face {
  font-family: "PT Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("PT Mono"),
    local("PTMono-Regular"),
    url("../fonts/ptMono.woff2") format("woff2"),
    url("../fonts/ptMono.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Roboto Medium"),
    local("Roboto-Medium"),
    url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff");
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Roboto Condensed"),
    local("RobotoCondensed-Regular"),
    url("../fonts/robotoCondensed.woff2") format("woff2"),
    url("../fonts/robotoCondensed.woff") format("woff");
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Roboto Condensed Bold"),
    local("RobotoCondensed-Bold"),
    url("../fonts/robotoCondensedBold.woff2") format("woff2"),
    url("../fonts/robotoCondensedBold.woff") format("woff");
}
