/* wrapper sizes */
$mobileWidth: 320px;
$tabletWidth: 768px;
$desktopWidthMin: 1024px;
$desktopWidthMax: 1024px;

/* fonts */
$font-primary: "PT Mono", "Georgia", serif;
$font-title: "Roboto Condensed", "Aria", sans-serif;
$font-subtitle: "Roboto", "Aria", sans-serif;

/* colors */
$color-text-default: #666666;
