/* wrapper sizes */
$mobileWidth: 320px;
$tabletWidth: 767px;
$desktopWidth: 1023px;

/* fonts */
$font-primary: "PT Mono", "Georgia", serif;
$font-title: "Roboto Condensed", "Aria", sans-serif;
$font-subtitle: "Roboto", "Aria", sans-serif;

/* backgrounds */
$color-bg-dark: #1b2931;
$color-border: #c4c4c4;
$color-card-border: #ebebeb;
$color-btn: #00b2ff;

/* colors */
$color-text-default: #666666;
$color-text-title: #203c42;
$color-text-subtitle: #788891;
$color-text-white: #ffffff;
$color-text-dark: #1b2d37;

/* DPR */
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
