/* wrapper sizes */
$mobileWidth: 320px;
$tabletWidth: 767px;
$desktopWidth: 1023px;

/* fonts */
$font-primary: "PT Mono", "Georgia", serif;
$font-title: "Roboto Condensed", "Aria", sans-serif;
$font-subtitle: "Roboto", "Aria", sans-serif;

/* backgrounds */
$color-bg-dark: #1b2931;

/* colors */
$color-text-default: #666666;
$color-text-subtitle: #788891;
$color-text-white: #ffffff;
